
.gradientp {
   
    background: rgb(34, 49, 63);
    background: linear-gradient(90deg, rgba(34, 49, 63, 1) 12%, rgba(23, 89, 124, 1) 42%, rgba(14, 124, 177, 1) 70%, rgba(7, 149, 214, 1) 80%, rgba(7, 149, 214, 1) 82%, rgba(0, 176, 255, 1) 92%);
}

.boton {
   background: #d1e1f19a;
}