<!-- <div class="container">
    <div class="timer">
        <p class="unit">
            <strong> {{time.minutes}}</strong>
            <span>Minutos</span>

        </p>
        <p class="unit"><strong> :</strong></p>
        <p class="unit">
            <strong> {{time.seconds}}</strong>
            <span>Segundos</span>
        </p>
        <strong class="unit">PARA EMPEZAR</strong>
    </div>

    <div class="listado-usuarios">
        <p> <strong> JUGADORES</strong></p>


    </div>

 -->
   
        <div class="con">
           
            <div class="contenedor head">
                <h1 class="titulo">!Hola!, bienvenido al bingo del GRAN BUDA</h1>
                <p class="copy">En breves minutos comenzamos.</p>
                <div class="container">
                    <div class="timer">
                        <p class="unit ">
                            <strong> {{time.minutes}}</strong>
                            <span>Minutos</span>
                
                        </p>
                        <p class="unit"><strong> :</strong></p>
                        <p class="unit">
                            <strong> {{time.seconds}}</strong>
                            <span>Segundos</span>
                        </p>
                        <strong class="unit">PARA EMPEZAR</strong>
                    </div>
                    <h1> <strong > JUGADORES</strong></h1>
                    <div class="listado-usuarios">
                        
                
                
                    </div>

            </div>
        </div>
    </div>