
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up <small>El gran buda</small></p>

                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input class="form-control" type="text" placeholder="Nickname" formControlName="nickname"
                        [class.is-invalid]="nicknameNoValido" />
                      <small *ngIf="nicknameNoValido" class="text-danger">
                        Ingrese min. 5 letras
                      </small>
                      <label class="form-label">Nickname</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input class="form-control" type="email" placeholder="Email " formControlName="email"
                        [class.is-invalid]="correoNoValido" />
                      <small *ngIf="correoNoValido" class="text-danger">
                        Ingrese un correo valido
                      </small>
                      <label class="form-label">Your Email</label>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input class="form-control" type="password" placeholder="Password" formControlName="password"
                        [class.is-invalid]="passNoValido" />
                      <small *ngIf="passNoValido" class="text-danger">
                        Ingrese una contraseña valida
                      </small>
                      <label class="form-label">Password</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="./assets/casino.png"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>